<%=include_gon %>;

    <div id="floating-panel"</div>
      <button onclick="toggleHeatmap()">Toggle Heatmap</button>
      <button onclick="changeRadius()">Change radius</button>
      <button onclick="changeOpacity()">Change opacity</button>
        <script>changeGradient();</script>
    </div>
    <div id="map"></div>
<tr><%= link_to 'View All Water Readings', water_readings_path,:class => 'button' %></tr>
<%= link_to 'View All Light Readings', light_readings_path,:class => 'button' %>
    <div id="floating-panel">
      <button onclick="toggleHeatmap()">Toggle Heatmap</button>
      <button onclick="changeRadius()">Change radius</button>
      <button onclick="changeOpacity()">Change opacity</button>
        <script>changeGradient();</script>
    </div>
    <div id="map"></div>
    
    <script>

      // This example requires the Visualization library. Include the libraries=visualization
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=visualization">

      var map, heatmap;
      var firstData = true;

      function initMap() {
              var waterData = [
              {location: new google.maps.LatLng(41.663969, -91.580529), weight: gon.water_node1}, 
              {location: new google.maps.LatLng(41.663844, -91.580728), weight: gon.water_node2},  
              {location: new google.maps.LatLng(41.663896, -91.580728), weight: gon.water_node3},
              {location: new google.maps.LatLng(41.663873, -91.580867), weight: gon.water_node4}, 
              {location: new google.maps.LatLng(41.663971, -91.580535), weight: gon.water_node5},  
              {location: new google.maps.LatLng(41.663995, -91.580535), weight: gon.water_node6}, 
              {location: new google.maps.LatLng(41.663975, -91.580774), weight: gon.water_node7}
        ]
      var lightData = [
              {location: new google.maps.LatLng(41.663969, -91.580529), weight: gon.light_node1}, 
              {location: new google.maps.LatLng(41.663844, -91.580728), weight: gon.light_node2},  
              {location: new google.maps.LatLng(41.663896, -91.580728), weight: gon.light_node3},
              {location: new google.maps.LatLng(41.663873, -91.580867), weight: gon.light_node4}, 
              {location: new google.maps.LatLng(41.663971, -91.580535), weight: gon.light_node5},  
              {location: new google.maps.LatLng(41.663995, -91.580535), weight: gon.light_node6}, 
              {location: new google.maps.LatLng(41.663975, -91.580774), weight: gon.light_node7}
        ]
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 20,
          center: {lat: 41.663934, lng: -91.580702}, 
          mapTypeId: 'satellite'
        });
        waterArray = new google.maps.MVCArray(waterData)
        lightArray = new google.maps.MVCArray(lightData)
        heatmap = new google.maps.visualization.HeatmapLayer({
          data: waterArray,
          map: map
        });
      }

      function toggleHeatmap() {
        if(firstData){
          heatmap.setData(lightArray);
          firstData = false;
        }else{
          heatmap.setData(waterArray);
          firstData=true;
        }

      function changeGradient() {
        var gradient = [
          'rgba(0, 255, 255, 0)',
          'rgba(0, 255, 255, 1)',
          'rgba(0, 191, 255, 1)',
          'rgba(0, 127, 255, 1)',
          'rgba(0, 63, 255, 1)',
          'rgba(0, 0, 255, 1)',
          'rgba(0, 0, 223, 1)',
          'rgba(0, 0, 191, 1)',
          'rgba(0, 0, 159, 1)',
          'rgba(0, 0, 127, 1)',
          'rgba(63, 0, 91, 1)',
          'rgba(127, 0, 63, 1)',
          'rgba(191, 0, 31, 1)',
          'rgba(255, 0, 0, 1)'
        ]
        heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
      }

      function changeRadius() {
        heatmap.set('radius', heatmap.get('radius') ? null : 50);
      }

      function changeOpacity() {
        heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
      }
}
      // Heatmap data: 8 Points
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBmeSHfe_LRphiwgEiP5CVF4ddctpEvMk &libraries=visualization&callback=initMap">
    </script>